$toolbar-footer-background-color: dynamic($neutral-highlight-color);
$toolbar-tool-glyph-color: dynamic($neutral-dark-color);
$toolbar-scroller-width: dynamic(24px);
$toolbar-scroller-height: dynamic(24px);
$toolbar-border-color: dynamic($neutral-color);
//$toolbar-background-color: rgba(188, 188, 188, 1);
//$toolbar-background-gradient: recessed;
$toolbar-tool-background-image: 'resources/images/new/ico/edit_icon.ico';